.register
{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:50%;
  height: 95%;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.btn:hover
{
    color: white;
    background-color: cornflowerblue;
    border-radius: 20px;
}

h1
{
	font-family: 'Montserrat', sans-serif;
	margin-left:10px;
}

h4
{
  font-family: 'Montserrat', sans-serif;
}
body
{
	background-color: #b3d1ff;
}

input[type=text], input[type=password],input[type=email], input[type=integer] select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text]:focus,input[type=integer]:focus,input[type=password]:focus {
  background-color: lightblue;
}
input [type=date]{
    width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
span{
  color:blue;
  float:right;
}

label
{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background-color:white;
	border-radius:5px;
}